.container {

  &__name {
    font-family: 'Indie Flower', cursive;
  }

  &__title {

  }

  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;

    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}
