.page {
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.royal-blue-gradient {
  background: rgb(139, 180, 242);
  background: linear-gradient(41deg, rgba(139, 180, 242, 1) 0%,
    rgba(104, 157, 238, 1) 33%, rgba(69, 134, 234, 1) 66%, rgba(51, 123, 232, 1) 100%);
}

.turquoise-blue {
  background: #47e3ff;
}

.tomato {
  background: #e84f33;
}

.mainBlue {
  color: #337be8;
}

@media (min-width: 900px) {
  .page {
    height: 100vh;
  }
}
