.page {
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background: #f6b9b9;
}

.blue {
  background: #c9c9ee;
}


@media (min-width: 900px) {
  .page {
    height: 100vh;
  }
}
