.page {
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.royal-blue-gradient {
  background: linear-gradient(41deg, #040404 0%, #689dee 33%, #121ea9 66%, #040404 100%);
}

.turquoise-blue {
  background: #47e3ff;
}

.tomato {
  background: #e84f33;
}

.mainBlue {
  color: #337be8;
}

@media (min-width: 768px) {
  .page {
    height: 100vh;
  }
}
