@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

$glitch-bg-color: transparent;

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

span {
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
  color: white;

  &.name-color {
    color: #b4ff22;
    font-size: 2em;
  }
}

.glitch {
  position: relative;
  //margin: 0 auto;
  background: $glitch-bg-color;
}

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 0;
  text-shadow: -1px 0 #414a42;
  background: $glitch-bg-color;
}

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: 0;
  text-shadow: 1px 0 #000000;
  background: $glitch-bg-color;
}

@mixin rect($top, $bottom) {
  clip: rect($top, 9999px, $bottom, 0);
}


/* Expanded Animations */
@keyframes glitch-animation {
  0% {
    @include rect(42px, 44px);
  }
  5% {
    @include rect(12px, 59px);
  }
  10% {
    @include rect(48px, 29px);
  }
  15.0% {
    @include rect(42px, 73px);
  }
  20% {
    @include rect(63px, 27px);
  }
  25% {
    @include rect(34px, 55px);
  }
  30.0% {
    @include rect(86px, 73px);
  }
  35% {
    @include rect(20px, 20px);
  }
  40% {
    @include rect(26px, 60px);
  }
  45% {
    @include rect(25px, 66px);
  }
  50% {
    @include rect(57px, 98px);
  }
  55.0% {
    @include rect(5px, 46px);
  }
  60.0% {
    @include rect(82px, 31px);
  }
  65% {
    @include rect(54px, 27px);
  }
  70% {
    @include rect(28px, 99px);
  }
  75% {
    @include rect(45px, 69px);
  }
  80% {
    @include rect(23px, 85px);
  }
  85.0% {
    @include rect(54px, 84px);
  }
  90% {
    @include rect(45px, 47px);
  }
  95% {
    @include rect(37px, 20px);
  }
  100% {
    @include rect(4px, 91px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    @include rect(65px, 100px);
  }
  5% {
    @include rect(52px, 74px);
  }
  10% {
    @include rect(79px, 85px);
  }
  15.0% {
    @include rect(75px, 5px);
  }
  20% {
    @include rect(67px, 61px);
  }
  25% {
    @include rect(14px, 79px);
  }
  30.0% {
    @include rect(1px, 66px);
  }
  35% {
    @include rect(86px, 30px);
  }
  40% {
    @include rect(23px, 98px);
  }
  45% {
    @include rect(85px, 72px);
  }
  50% {
    @include rect(71px, 75px);
  }
  55.0% {
    @include rect(2px, 48px);
  }
  60.0% {
    @include rect(30px, 16px);
  }
  65% {
    @include rect(59px, 50px);
  }
  70% {
    @include rect(41px, 62px);
  }
  75% {
    @include rect(2px, 82px);
  }
  80% {
    @include rect(47px, 73px);
  }
  85.0% {
    @include rect(3px, 27px);
  }
  90% {
    @include rect(26px, 55px);
  }
  95% {
    @include rect(42px, 97px);
  }
  100% {
    @include rect(38px, 49px);
  }
}

p {
  position: relative;
  max-width: 50ch;
  height: 50%;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  color: white;
}

p:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 0;
  top: 0;
  animation: abomination1 10s infinite;
  animation-fill-mode: forwards;
}

//Developer... And everything that comes with it :)
@keyframes abomination1 {
  0% {
    content: "D";
  }
  2% {
    content: "De";
  }
  4% {
    content: "Deve";
  }
  6% {
    content: "Devel";
  }
  8% {
    content: "Develo";
  }
  10% {
    content: "Develop";
  }
  12% {
    content: "Develope";
  }
  14% {
    content: "Developer";
  }
  16% {
    content: "Developer.";
  }
  18% {
    content: "Developer..";
  }
  20% {
    content: "Developer..4";
  }
  22% {
    content: "Developer..";
  }
  24% {
    content: "Developer...";
  }
  26% {
    content: "Developer... ";
  }
  28% {
    content: "Developer... a";
  }
  30% {
    content: "Developer... ";
  }
  32% {
    content: "Developer... A";
  }
  34% {
    content: "Developer... An";
  }
  36% {
    content: "Developer... And";
  }
  38% {
    content: "Developer... And ";
  }
  40% {
    content: "Developer... And e";
  }
  42% {
    content: "Developer... And ev";
  }
  44% {
    content: "Developer... And evi";
  }
  46% {
    content: "Developer... And ev";
  }
  48% {
    content: "Developer... And eve";
  }
  50% {
    content: "Developer... And every";
  }
  52% {
    content: "Developer... And everyt";
  }
  54% {
    content: "Developer... And everythi";
  }
  56% {
    content: "Developer... And everythin";
  }
  58% {
    content: "Developer... And everything";
  }
  60% {
    content: "Developer... And everything ";
  }
  62% {
    content: "Developer... And everything T";
  }
  64% {
    content: "Developer... And everything ";
  }
  68% {
    content: "Developer... And everything t";
  }
  70% {
    content: "Developer... And everything th";
  }
  72% {
    content: "Developer... And everything tha";
  }
  74% {
    content: "Developer... And everything that";
  }
  76% {
    content: "Developer... And everything that ";
  }
  77% {
    content: "Developer... And everything that c";
  }
  78% {
    content: "Developer... And everything that co";
  }
  79% {
    content: "Developer... And everything that com";
  }
  89% {
    content: "Developer... And everything that come";
  }
  81% {
    content: "Developer... And everything that comes";
  }
  82% {
    content: "Developer... And everything that comes ";
  }
  83% {
    content: "Developer... And everything that comes w";
  }
  84% {
    content: "Developer... And everything that comes wi";
  }
  85% {
    content: "Developer... And everything that comes wit";
  }
  86% {
    content: "Developer... And everything that comes with";
  }
  87% {
    content: "Developer... And everything that comes with ";
  }
  88% {
    content: "Developer... And everything that comes with i";
  }
  89% {
    content: "Developer... And everything that comes with it";
  }
  90% {
    content: "Developer... And everything that comes with it ";
  }
  91% {
    content: "Developer... And everything that comes with it :";
  }
  92% {
    content: "Developer... And everything that comes with it :)";
  }
  93% {
    content: "Developer... And everything that comes with it :)";
  }
  94% {
    content: "Developer... And everything that comes with it :)";
  }
  95% {
    content: "Developer... And everything that comes with it :)";
  }
  96% {
    content: "Developer... And everything that comes with it :)";
  }
  97% {
    content: "Developer... And everything that comes with it :)";
  }
  98% {
    content: "Developer... And everything that comes with it :)";
  }
  99% {
    content: "Developer... And everything that comes with it :)";
  }
  100% {
    content: "Developer... And everything that comes with it :)";
  }
}

@media (min-width: 900px) {
  .center {
    flex-direction: row;

    span {
      margin-right: 8px;
    }
  }
  span {
    font-size: 1.5vw;
  }
  p {
    font-size: 3em;
    max-width: 100%;
  }
}
