<section (intersectionChanged)="intersectionChanged($event)"
         [intersectionObserverInit]="intersectOptions"
         [waitBeforeReportingIntersection]="0"
         class="container"
         libNgIntersection>
  <ng-container *ngIf="isVisible">
    <sbz-text-glitch></sbz-text-glitch>
    <div [@zoomInDownOnEnter] class="typewriter-container">
      <div class="typewriter">
        <h5>#front-end #angular #android #ios</h5>
      </div>
    </div>
    <ul class="container__social-icons ">
      <li class="rotate">
        <a class="rotate linkedin" href="https://www.linkedin.com/in/liraz-amir-6ab470151/" rel="noopener"
           target="_blank">
          <fa-icon [icon]="faLinkedin" title="Linkedin profile"></fa-icon>
        </a>
      </li>
      <li class="rotate">
        <a class="rotate github" href="https://github.com/blakazulu" rel="noopener" target="_blank">
          <fa-icon [icon]="faGithub" title="Github account"></fa-icon>
        </a>
      </li>
      <li class="rotate">
        <a class="rotate stack" href="https://stackoverflow.com/users/5540292/liraz-shaka-amir" rel="noopener"
           target="_blank">
          <fa-icon [icon]="faStackOverflow" title="Stack-overflow profile"></fa-icon>
        </a>
      </li>
      <li class="rotate">
        <a class="rotate facebook" href="https://www.facebook.com/ShakaBlakaZulu" rel="noopener" target="_blank">
          <fa-icon [icon]="faFacebook" title="Facebook profile"></fa-icon>
        </a>
      </li>
    </ul>
  </ng-container>
</section>

<ng-container *ngIf="isMobile$ | async">
  <div [position]="'right'" sbzFloatingText></div>
  <div [position]="'left'" sbzFloatingText></div>
</ng-container>
