.container {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  &__title {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin: -15px 0 0 0;
  }

  &__social-icons {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;

    li {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);

      &:hover {
        background: #ffffffcc;
        border-radius: 50%;
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

        a {
          transform: rotate(0deg);

          &.facebook {
            color: #3A5794 !important;
          }

          &.github {
            color: #24292E !important;
          }

          &.linkedin {
            color: #0e76a8 !important;
          }

          &.stack {
            color: #F48024 !important;
          }
        }
      }

      &:hover:nth-child(1) {
        a {
          transform: rotate(-45deg);
        }
      }

      &:hover:nth-child(2) {
        transform: translateY(-3px);
      }

      &:hover:nth-child(3) {
        transform: rotate(-45deg);

        a {
          transform: rotate(45deg);
        }
      }

      &:hover:nth-child(4) {
        transform: rotate(360deg);
      }

      a {
        display: inline-block;
        text-decoration: none;
        transform: rotate(-45deg);
        font-size: 50px;
        color: #fff;
      }
    }
  }
}

.rotate {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.rotate:hover {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container__social-icons a fa-icon:hover::after {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

.typewriter-container {
  display: flex;
  justify-content: center;

  .typewriter {
    position: relative;
    //width: 100%;
    border-radius: 6px;
    margin-top: 100px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
    padding: 45px 16px 0 16px;

    ::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      font-size: 2rem;
      line-height: 0;
      padding: 14px 0;
      text-indent: 4px;
    }

    h5 {
      text-align: center;
      color: #3f3;
      font-family: 'VT323', monospace, sans-serif;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange; /* The typewriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: typing 3.5s steps(30, end),
      blink-caret 1s step-end infinite;
      animation-delay: 1s;
    }
  }
}

/**
 * Floating text animation styles
 */
:host ::ng-deep .animated-text {
  cursor: default;
  color: #68C2A3;
  font-family: 'VT323', monospace, sans-serif;
  text-shadow: 0 0 1px #ffffff;
  font-size: 24px;
  position: absolute;
  top: -50px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  animation-name: float-animation;
  animation-timing-function: ease-out;
}

@keyframes float-animation {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    top: -25px;
    opacity: 0;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-width: 10px;
    border-color: transparent
  }
  50% {
    border-width: 10px;
    border-color: #3f3;
  }
}

@media (min-width: 1024px) {
  .container {
    width: auto;

    &__social-icons {
      li {
        border: 1px solid white;
      }
    }

    .typewriter-container {
      font-size: 1.5em;
    }
  }
}
