<section class="container container--intro">
  <sbz-text-glitch></sbz-text-glitch>
  <h5 class="container__title">#front-end #angular #android #ios</h5>
  <ul class="container__social-icons">
    <li class="diamond">
      <a href="https://www.linkedin.com/in/liraz-amir-6ab470151/" rel="noopener" target="_blank">
        <fa-icon [icon]="faLinkedin" title="Linkedin profile"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/blakazulu" rel="noopener" target="_blank">
        <fa-icon [icon]="faGithub" title="Github account"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/5540292/liraz-shaka-amir" rel="noopener" target="_blank">
        <fa-icon [icon]="faStackOverflow" title="Stack-overflow profile"></fa-icon>
      </a>
    </li>
    <li class="facebook">
      <a href="https://www.facebook.com/ShakaBlakaZulu" rel="noopener" target="_blank">
        <fa-icon [icon]="faFacebook" title="Facebook profile"></fa-icon>
      </a>
    </li>
  </ul>
</section>
