<section class="container">
  <sbz-text-glitch></sbz-text-glitch>
  <div class="typewriter-container">
    <div class="typewriter">
      <h1>#front-end #angular #android #ios</h1>
    </div>
  </div>
  <ul class="container__social-icons ">
    <li class="rotate">
      <a class="rotate linkedin" href="https://www.linkedin.com/in/liraz-amir-6ab470151/" rel="noreferrer noopener"
         target="_blank">
        <fa-icon [icon]="faLinkedin" title="Linkedin profile"></fa-icon>
      </a>
    </li>
    <li class="rotate">
      <a class="rotate github" href="https://github.com/blakazulu" rel="noreferrer noopener" target="_blank">
        <fa-icon [icon]="faGithub" title="Github account"></fa-icon>
      </a>
    </li>
    <li class="rotate">
      <a class="rotate stack" href="https://stackoverflow.com/users/5540292/liraz-shaka-amir" rel="noreferrer noopener"
         target="_blank">
        <fa-icon [icon]="faStackOverflow" title="Stack-overflow profile"></fa-icon>
      </a>
    </li>
    <li class="rotate">
      <a class="rotate facebook" href="https://www.facebook.com/ShakaBlakaZulu" rel="noreferrer noopener"
         target="_blank">
        <fa-icon [icon]="faFacebook" title="Facebook profile"></fa-icon>
      </a>
    </li>
  </ul>
  <ul class="container__social-icons second-line">
    <li class="rotate">
      <a class="rotate npm" href="https://www.npmjs.com/~liraz-sbz" rel="noreferrer noopener" target="_blank">
        <fa-icon [icon]="faNpm" title="Npm profile"></fa-icon>
      </a>
    </li>
    <li class="rotate">
      <a class="rotate medium" href="https://liraz-amir.medium.com/" rel="noreferrer noopener" target="_blank">
        <fa-icon [icon]="faMedium" title="Medium account"></fa-icon>
      </a>
    </li>
    <li class="rotate">
      <a class="rotate word" href="assets/cv/liraz_amir_cv.doc" rel="noreferrer noopener" target="_blank">
        <fa-icon [icon]="faFileWord" title="CV Word"></fa-icon>
      </a>
    </li>
    <li class="rotate">
      <a class="rotate pdf" href="assets/cv/liraz_amir_cv.pdf" rel="noreferrer noopener" target="_blank">
        <fa-icon [icon]="faFilePdf" title="CV PDF"></fa-icon>
      </a>
    </li>
  </ul>
</section>

<section class="image-container">
  <img [attr.loading]="'lazy'" alt="my picture" src="assets/img/me_mosaic.webp" title="mosaic picture">
</section>
